/* --- Base Styles --- */
html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.badge {
    padding: .5em;
    width: 10vw;
    object-fit: contain;
}

/* --- Header Styles --- */
header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    max-width: 100vw;
    background-color: rgb(29, 74, 29);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: xx-large;
    padding: .5em;
    border: 5px solid white;
    border-style: ridge;
}

.park-name {
    align-items: center;
    text-align: center;
    padding: 1em;
}

header h2 {
    font-size: large;
    padding: 2em;
    font-style: italic;
}


/* --- Navigation (Quick Links) Styles --- */
nav {
    background-color: white;
    color: black;
    padding: .5em;
    border: 2px black;
    border-radius: 10px;
}

nav h3 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: left;
    padding-inline: 2em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: rgb(29, 74, 29);
}


/* --- Main Content & Background --- */
main {
    background-color: white;
    background-image: url(card-back.png);
    background-size: cover;
    padding: 1em;
    flex: 1;
}

/* --- Homepage Welcome Section Styles (Now consistent with subpage cards) --- */
.welcome-section {
    align-items: center;
    display: flex;
    margin-bottom: 10vw;
    margin-top: 5vw;
}

.welcome-card {
    background-color: white;
    text-align: center;
    max-width: 40vw;
    margin: auto auto;
    padding: 1em;
    border: 3px solid rgb(29, 74, 29);
    border-radius: 40px;
    box-shadow: 0 4px 5px gray;
}

.welcome-card h2 {
    background-color: transparent;
    display: inline-block;
    padding: 1em;
    color: rgb(29, 74, 29);
    border: none;
    font-size: xx-large;
    margin-top: 0;
}

.welcome-card p {
    background-color: transparent;
    padding: 1em;
    color: black;
    border: none;
}


/* --- Homepage Highlight Reel Styles --- */
.highlight-reel {
    display: flex;
    overflow-x: auto;
    gap: 2em;
    padding: 1em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.highlight-card {
    flex: 0 0 auto;
    width: 500px;
    height: 450px; 
    color: black; 
    background-color: white; 
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0 4px 5px gray;
    border: 2px solid rgb(29, 74, 29); 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    scroll-snap-align: center;
}

.highlight-card h3 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    color: rgb(29, 74, 29);
}

.card-content-box {
    background-color: white;
    color: black;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
}

.image-placeholder {
    width: 100%;
    height: 70%; 
    background-color: lightgray;
    border-radius: 15px; 
    margin-bottom: 1em; 
}

.card-content-box img {
    width: 100%;
    max-height: 80%;
    object-fit: contain;
    display: block;
}

.reel-container{
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-btn{
    background-color: rgb(29, 74, 29);
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: rgb(233, 113, 50); /* Match your theme orange */
}

.highlight-reel::-webkit-scrollbar {
    display: none;
}

.highlight-reel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* --- Footer Styles --- */
footer {
    width: 100%;
    text-align: center;
    background-color: rgb(29, 74, 29);
    color: white;
    padding: 1em;
    border-top: 3px solid black;
}


/* --- Subpage Layout (Navigation, Activities, About) --- */
.subpage-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;
    max-width: 1200px;
    margin: 2em auto;
    align-items: start;
}

/* Base style for content cards */
.content-card, .recycle-pic, .compost-pic {
    background-color: white;
    border: 3px solid rgb(29, 74, 29);
    border-radius: 40px;
    padding: 1.5em;
    box-shadow: 0 4px 5px gray;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
}

.content-card h3 {
    text-align: center;
    color: rgb(29, 74, 29);
    margin-top: 0;
    margin-bottom: 1em;
    width: 100%;
}


.content-card ul {
    list-style: disc; 
    padding-left: 1.5em; 
    margin-top: 0;
    width: 100%;
}


.recycle-pic img, .compost-pic img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    display: block;
}


/* --- Navigation Page Map Styles --- */
.map-container {
    background-color: skyblue;
    display: flex;
    font-size: xx-large;
    border: 3px solid rgb(29, 74, 29);
    border-radius: 40px;
    padding: 0;
    overflow: hidden;
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.map-links a{
    padding: 1em;
    border: 3px solid black;
    border-radius: 15px;
    text-decoration: none; 
    background-color: rgb(29, 74, 29);
    color: white;
    
}
.Links{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-self: flex-start;
}

.address-info, .parking-info {
    flex: 0 0 auto;
    background-color: white;
    border: 3px solid rgb(29, 74, 29);
    border-radius: 40px;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 4px 5px gray;
}

.parking-info-list{
    text-align: left;
    padding-left: 1.5em; 
    margin-top: 0;
}
.parking-info-list li{
    padding: .5em 0;
}

/* --- Activity Styles */

.events-calendar ul li, .activity-list ul li{
    padding: .5em;
    margin-right:1em;
}


/* --- About Styles --- */


.park-history h3, .park-goals h3 {
font-size: x-large;}

.park-goals ul li {
    padding: .5em;
}

.goals-list, .history-list{
    font-size: larger;
}

.goal-details {
padding: .25em;

}

.park-history, .park-goals {
    justify-content: flex-end; 
}


.history-detail{
    padding: 1em;
}
.milestone-detail{
    padding: .25em;
}



/* --- Mobile Media Query Styles --- */
@media (max-width: 600px) {


    

    header {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        max-width: initial;
        flex-direction: column;
    }

    nav {
        text-align: center;
        margin-top: 1em;
        padding: .5em 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    nav ul {
        padding-inline: 0;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        margin: 0 0.5em;
    }

    .badge {
        width: 15vw;
    }

    .park-name {
        flex: auto;
    }

    .highlight-card {
        max-width: 85vw;
    }
    
    .subpage-content {
        grid-template-columns: 1fr;
        padding: 1em;
        gap: 1.5em;
        margin: 1em auto;
    }
    .map-container {
        min-height: 300px;
    }

    .content-card, .recycle-pic, .compost-pic{
        min-height: auto;
        padding: 1em;
    }

    .highlight-card {
        width: 300px;
    }

    .highlight-card h3 {
        padding: .5em;
    }

    .welcome-card{
        max-width: 90vw;
        margin-top: 2em;
    }
    .welcome-card h2{
        font-size: x-large;
        padding: .5em;
    }
}